In [44]:
import sqlite3

In [47]:
connection = sqlite3.connect('pets.db')
connection

In [45]:
cursor= connection.cursor()
cursor

In [48]:
cursor.execute("""
    create table if not exists pets(
        id integer primary key autoincrement,
        name text not null,
        type text not null,
        age integer,
        owner text
    )
""")
connection.commit()

In [46]:
name = "dorothy"
info = "('dorothy','dog', 9, 'greg'); delete * from pets; commit;"
# cursor.execute("""
#     insert
#         into pets(name, type, age, owner)
#         values ('""" + name +"""', 'dog', 9, 'hieu')
# """)
# cursor.execute("""
#     insert
#         into pets(name, type, age, owner)
#         values (?,?,?,?)
# """, (name,"dog", 9, "dq"))

for name in ["diem quynh", "dq"]:
    cursor.execute("""
        insert
            into pets(name, type, age, owner)
            values (?,?,?,?)
    """, (name,"dog", 9, "dq"))
connection.commit()

In [54]:
cursor.execute("select * from pets")
rows = cursor.fetchall()
# rows = cursor.fetchone()
for row in rows:
    print(row)

(1, 'dorothy', 'dog', 9, 'hieu')
(2, 'dorothy', 'dog', 9, 'dq')
(3, 'diem quynh', 'dog', 11, 'dq')
(4, 'dq', 'dog', 9, 'dq')

In [53]:
cursor.execute("""
    update pets
    set age = ?
    where name = ?
""", (11, "diem quynh"))
connection.commit()